/* Đối tượng rec */

.rec {
    -fx-fill: #37474F; /* Màu xám xanh đậm hơn một chút để phù hợp với sidebar */

}

/* Nút */
.button {
    -fx-background-color: #455A64; /* Màu xám xanh đậm, hài hòa với sidebar */
    -fx-text-fill: #ECEFF1; /* Màu chữ trắng nhạt để tương phản với nền */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #455A64, #37474F); /* Màu xám sáng hơn khi hover */
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #37474F, #263238); /* Quay về màu sidebar khi nhấn */
}

/* Label */
.label {
    -fx-text-fill: #ECEFF1; /* Màu trắng nhạt cho chữ, đồng bộ với nút */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
