/* Toàn bộ giao diện */
.main-pane {
    -fx-background-color: #F0F4F8; /* Nền tổng thể màu nhạt */
}

/* Sidebar */

//.anchor-pane-sidebar {
   // -fx-background-color: #263238; /* Sidebar màu tối */
  //  -fx-padding: 20px; /* Khoảng cách padding để nút thoáng hơn */
   // -fx-background-color: #032251;
//}

.pane-sidebar{
    -fx-background-color: #032251;
}


.button {
    //-fx-text-fill: #FFFFFF; /* Màu chữ của nút là trắng */
    //-fx-font-size: 16px;
    //-fx-font-weight: bold;
    //-fx-background-color: #455A64;
   // -fx-background-radius: 5;
   // -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);


     -fx-background-color: #FFFFFF;
     -fx-text-fill: #0E81A0;
     -fx-font-size: 14px;
     -fx-font-weight: bold;
     -fx-background-radius: 2;
      -fx-border-color: transparent;
}

.button:hover {
    //-fx-background-color: #546E7A;
      -fx-background-color: linear-gradient(to bottom, #2563EB, #3B82F6); /* Darker blue gradient */
            -fx-effect: dropshadow(gaussian, rgba(37, 99, 235, 0.4), 10, 0.5, 0, 5);
            -fx-text-fill: white;
            -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #37474F;
}

/* Main area background */
//.anchor-pane-main {
    //-fx-background-color: #FFFFFF;
    //-fx-padding: 20px;
   // -fx-border-color: #E0E0E0;
   // -fx-border-width: 1;
   // -fx-border-radius: 10;
//}

/* Label welcome message */
.welcome-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #37474F; /* Chữ tối màu cho dễ nhìn */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
    -fx-alignment: center;
}

/* Áp dụng style cho toàn bộ nút bấm */
.button {
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}
